@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

body {
    font-family: 'Roboto Mono', monospace;
    // background-color: #c2e6e8;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

button,
button:active {
    background-color: rgb(234, 178, 156);
    border: none;
    width: 28px; /* Adjusted from 42px */
    height: 27px; /* Adjusted from 40px */
    border-radius: 100%;
    text-align: center;
    box-shadow: 0.15em 0.15em rgb(194, 91, 44); /* Adjusted */
    -webkit-box-shadow: 0.15em 0.15em rgb(194, 91, 44);
    -moz-box-shadow: 0.15em 0.15em rgb(194, 91, 44);
}

button:focus {
    translate: 0.15em 0.15em; /* Adjusted */
    box-shadow: 0.15em 0.15em rgb(194, 91, 44) inset;
    -webkit-box-shadow: 0.15em 0.15em rgb(194, 91, 44) inset;
    -moz-box-shadow: 0.15em 0.15em rgb(194, 91, 44) inset;
}

/* Clock Body */

.clock-container {
    background-color: rgb(240, 240, 190);
    width: 233px; /* Adjusted from 350px */
    border-radius: 15px; /* Adjusted */
    padding: 20px; /* Adjusted from 30px */
    box-shadow: 4px 4px rgb(211,211,211);  /* Adjusted */
}

/* Display + Stop/Start/Reset Controls */

#time-left {
    font-size: 47px; /* Adjusted from 70px */
    text-align: center;
    background-color: rgb(150, 180, 175);
    padding: 13px; /* Adjusted from 20px */
    border-radius: 15px; /* Adjusted */
    box-shadow: 2px 2px rgb(121, 145, 141) inset; /* Adjusted */
}

#display-controls {
    margin: 7px 0; /* Adjusted from 10px */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#timer-label {
    font-size: 17px; /* Adjusted from 25px */
    text-align: center;
    padding-top: 1px; /* Adjusted */
    background-color: rgb(150, 180, 175);
    border-radius: 7px; /* Adjusted */
    height: 27px; /* Adjusted from 40px */
    flex: 2;
    box-shadow: 2px 2px rgb(121, 145, 141) inset; /* Adjusted */
}

#timer-ssr {
    flex: 1;
    margin-left: 20px; /* Adjusted from 30px */
    display: flex;
    justify-content: space-between;
}

/* Timer Length Controls */

.length-container {
    margin-top: 13px; /* Adjusted from 20px */
    display: flex;
    flex-direction: row;
}

.inc-dec-btn-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 93px; /* Adjusted from 140px */
    height: 40px; /* Adjusted from 60px */
}

.break-container,
.session-container {
    text-align: center;
    border: 2px solid rgb(234, 178, 156);
    padding: 7px; /* Adjusted from 10px */
    border-radius: 7px; /* Adjusted */
    width: 48%;
}

.timer-length {
    font-size: 1.33em; /* Adjusted from 2em */
}

.break-container,
.inc-arrow {
    margin-right: 8px; /* Adjusted from 12px */
}
